<style>
    body{
        overflow-x: hidden;
    }
    
    .social-icons {
        width: 40px;
        border-radius: 50%;
        border: 2px solid rgb(184, 183, 183);
        cursor: pointer;
        background-color: aliceblue;
    }

  
    @media screen and (max-width:600px) {
        .footer {
            font-size: 10px;
        }

        .social-icons {
            width: 2rem;
        }
    }
</style>
<footer class="footer">
    <div class="container-fluid bg-dark p-0 py-3">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo text-decoration-none text-light">Website To
                        App</a></h2>
                <p class="menu">
                    <a href="#" class=" text-decoration-none text-white">Home</a>
                    <a href="#" class=" text-decoration-none text-white">Agent</a>
                    <a href="#" class=" text-decoration-none text-white">About</a>
                    <a href="#" class=" text-decoration-none text-white">Listing</a>
                    <a href="#" class=" text-decoration-none text-white">Blog</a>
                    <a href="#" class=" text-decoration-none text-white">Contact</a>
                </p>
                <div class="row">
                    <div class="col-12">
                        <a href="#"><img src="https://img.icons8.com/?size=512&id=62856&format=png" alt="social-icon"
                            class="social-icons"></a>
                        <a href="#"><img src="https://img.icons8.com/?size=512&id=59813&format=png" alt="social-icon"
                            class="social-icons"></a>
                        <a href="#"><img src="https://img.icons8.com/?size=512&id=9918&format=png" alt="social-icon"
                            class="social-icons"></a>
                        <a href="#"><img src="https://img.icons8.com/?size=512&id=yxl4mWkjeDCS&format=png" alt="social-icon"
                            class="social-icons"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center text-white">
                <p class="copyright">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="#"
                        target="_blank">ravizz.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>