{% extends 'base.html' %}

{% block title_content %}
<title>WEB2APP - Login</title>
{% endblock %}

{% block style_content %}
<style>
    body {
        overflow-x: hidden;
    }

    .form-box {
        width: 30%;
    }


    @media screen and (max-width:900px) {
        .form-box {
            width: 50%;
        }
    }

    @media screen and (max-width:600px) {
        .form-box {
            width: 100%;
        }
    }
</style>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class=" d-flex align-items-center justify-content-center" style="min-height: 100vh; ">
                <div class="form-box img-thumbnail p-2 py-3">
                    <h3 class="text-center">LOGIN</h3><br>
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="p-0 ps-1 m-0">
                            {% for message in messages %}
                            <li class="m-0 p-0">{{message}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <label for="name-field" class="form-label fw-bold">User Name :</label>
                        <input type="text" name="name-field" id="name-field" class="form-control" required><br>
                        <label for="password-field" class="form-label fw-bold">Password :</label>
                        <input type="text" name="password-field" id="password-field" class="form-control" required>
                        <button type="submit" class="btn btn-dark px-5 rounded-5 mt-2 w-100">Submit</button>
                    </form>
                    <hr>
                    <p class="text-center">Don't have an account | <a href="{% url 'signup' %}"
                            class="text-decoration-none">Sign
                            up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}